<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527581782642-kik6vlq8g70g2d2dfq5dfi311jtvkpt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527581782642-kik6vlq8g70g2d2dfq5dfi311jtvkpt0</string>
	<key>API_KEY</key>
	<string>AIzaSyD5mCH8z25TOCXaUjg7MvdITrV_lLjUbAU</string>
	<key>GCM_SENDER_ID</key>
	<string>527581782642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiliclimehmetali.PaketOlsun</string>
	<key>PROJECT_ID</key>
	<string>paketolsun-7d5c0</string>
	<key>STORAGE_BUCKET</key>
	<string>paketolsun-7d5c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527581782642:ios:904d00750d776ba7d858eb</string>
</dict>
</plist>